.sidebar {
  width: 15%;
  position: fixed;
  height: 100%;
  border-right: 2px solid #e5e5e5;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out;

}

.sidebar.open {
  transform: translateX(0);
}

.logo-container {
  margin-bottom: 4rem;
}

.logo-container h1 {
  margin-top: 1.3rem;
}

.hamburger2 {
  display: none;
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-size: 2rem;
  z-index: 4;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  /* Make the hamburger icon black */
}

@media (max-width: 768px) {
  .sidebar {
    width: 60%;
    transform: translateX(-100%);
    display: flex;
    background-color: #fec76f;
    /* Sidebar background becomes black */
    color: white;
    /* Text inside the sidebar becomes white */
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .hamburger2 {
    display: block;
    color: black;
    /* Ensure the hamburger icon is black */
  }

  .sidebar h1,
  .sidebar p,
  .sidebar label,
  .sidebar input,
  .sidebar select,
  .sidebar option {
    color: black;
  }
}